button.storeElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background-color: #AAA9;
    padding: 4px 9px;
}

button.storeElement:enabled:hover {
    background-color: #AAA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button.storeElement:disabled {
    opacity: 0.9;
    pointer-events: none;
}

div.storeElementContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.storeElementText {
    margin: 0;
    white-space: nowrap;
}

.itemPrice {
    font-weight: bold;
    margin-left: 5px;
}

.itemCPS,
.itemSell {
    font-size: 0.65em;
    color: #555;
    margin-left: 5px;
}