button.storeElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #AAA9;
}

button.storeElement:enabled:hover {
    background-color: #AAA;
    /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button.storeElement:disabled {
    opacity: 0.5;
}


p.storeElementText {
    margin-inline: 1rem;
}